
# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# Django stuff:
staticfiles/

# pyenv
.python-version

# Environments
venv/

### VisualStudioCode template
.vscode/*

# Cache
.pytest_cache/
.sass-cache
__pycache__
.DS_Store
db.sqlite3

.env
.envs/*
!.envs/.local/
